<li class="nav-item">
    <a class="nav-link" asp-controller="Home" asp-action="Chat">Chat</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Home" asp-action="Counter">Counter</a>
</li>